# --- Fichiers communs à ignorer ---
*.log
*.tmp
*.bak
*.swp
*.suo
*.user
*.DS_Store
Thumbs.db
ehthumbs.db
*.xlsx
~$*.xlsx

# --- Node (React FRONTEND) ---
/FRONTEND/rh-front/node_modules/
/FRONTEND/rh-front/build/
/FRONTEND/rh-front/dist/
/FRONTEND/rh-front/.env
/FRONTEND/rh-front/.next/
/FRONTEND/rh-front/.turbo/
/FRONTEND/rh-front/.cache/
/FRONTEND/rh-front/.eslintcache

# --- Visual Studio & .NET (BACKEND) ---


# /BACKEND/rh-backend/src/MyApp.Api/appsettings.json
/BACKEND/rh-backend/src/MyApp.Api/bin
/BACKEND/rh-backend/.vs/
/TODO/Looping/*.lo1
# --- Ignorer les fichiers de publication ---
/FRONTEND/rh-front/.firebase/
/BACKEND/rh-backend/wwwroot/dist/
/BACKEND/rh-backend/wwwroot/lib/

# --- Ignorer les fichiers de dépendances lock ---
/FRONTEND/rh-front/yarn.lock
/FRONTEND/rh-front/package-lock.json

*.sln
